.Rproj.user
.Rhistory
.RData
.Ruserdata
wmc_tutorial_data16nov23.RData
R-tidyverts-tutorial_files
R-tidyverts-tutorial-presentation_files
rsconnect/
tidyverts-tutorial_files
img/Diagrams_building.pptx
img/WMC_logo.JPG
.gitignore